version: '3.8'

services:
  tests:
    build: .
    command: pytest --cov=. --cov-report=xml tests/ -v
    volumes:
      - .:/app

  sonarqube:
    image: sonarqube:community
    ports:
      - "9000:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs

  sonar-scanner:
    image: sonarsource/sonar-scanner-cli
    volumes:
      - .:/usr/src

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
